<!--
    Tony R Baas
    Dec 5, 2023
    Vehicle Database System
-->

@model List<Vehicle>
@{
    ViewBag.Title = "Vehicle Database System";
}

<h3 class="text-white">Welcome to the Vehicle Database System!</h3>
<br />
<table class="table table-bordered table-striped bg-dark text-white">
    <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>Type</th>
            <th><a asp-controller="Vehicle" asp-action="Add">Add New Vehicle</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Year</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Trim</td>
                <td>@vehicle.Type</td>
                <td>
                    <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@vehicle.VehicleId">Edit</a> 
                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        background-color: Black;
    }
    a {
        color:red;
    }
    a:hover {
            color: #a10303;
    }
</style>
